<div id="<%= dom_id movement %>">
  <p>
    <strong>Typemov:</strong>
    <%= movement.typemov %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= movement.description %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= movement.quantity %>
  </p>

</div>
